@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/* Navigation styles */
.navbar {
  padding-top: 0.5rem;
  background-color: #effa90;
  padding-bottom: 0;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 0;


}

.btn-navbar {
  padding: 0.5rem 1rem;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  font-weight: 500;
  border: 2.5px solid blueviolet;
  background-color: blueviolet;
  color: white;
}

.btn-navbar:hover {
  background-color: white;
  /* font-weight: 600; */
  color: blueviolet;
}

li {
  padding-bottom: 1.5rem;
  font-size: 1.4rem;

}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.memComponent {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  align-items: center;
  padding-bottom: 2rem;
  min-width: 800px;
  border-bottom: 1px solid black;
}

.page-title {
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
}

.memComponent button {
  /* border-radius: 10%; */
  /* margin-top: 1rem; */
  padding: 0.8rem 1rem;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  font-weight: 500;
  min-width: 200px;
  text-align: center;
  background-color: blueviolet;
  color: white;
  border: 0.5px solid blueviolet;
  border-radius: 0% 0% 20% 20%;
  margin: 0 1rem;
}

.memComponent button:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(.98);
}

.memComponent button:hover {


  background-color: #effa90;
  color: blueviolet;
  border: 0.5px solid blueviolet;
}






.btn-votes {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-around;

}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
}

/* .navbar li {
  display: inline-block;
} */

.nav-item a {
  text-decoration: none;
  font-weight: normal;
  color: black;
  display: inline-block;
  text-align: center;
}

.nav-item:hover a {
  text-decoration: none;
  color: blueviolet;
}

.nav-item a.active {
  font-weight: bold;
}


img {
  border-radius: 10%;
  width: 600px;
  height: auto;
}



/* NewMeme section styles */
form {
  border-radius: 20%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 4rem 8rem 2rem 8rem;
  border: 2px solid blueviolet;

}

label {
  font-size: 1.1rem;
}

input {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 0.5rem 0.2rem;
  font-size: 1.1rem;
}

form .btn-submit {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
  font-weight: 500;
  /* min-width: 200px; */
  text-align: center;
  background-color: #effa90;
  /* color: white; */
  border: 0.5px solid blueviolet;
}


form .btn-submit:active {
  box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
  transform: scale(.98);
}

form .btn-submit:hover {
  background-color: blueviolet;
  color: white;
}


.home-page {
  margin-top: 2rem;
  border-radius: 5%;
}



/* Media styles */
@media screen and (max-width: 850px) {

  img {
    width: 500px;
  }



  .memComponent button {
    font-size: 1rem;
    min-width: 40px;

  }
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  color: black;
  background-color: #ebe582;
}


@media screen and (max-width: 650px) {

  img {
    width: 300px;
  }

  .memComponent button {
    font-size: 0.8rem;
    min-width: 20px;
  }

  .page-title {
    font-size: 1.5rem;
  }

  .home-page {
    width: 400px;

    margin-top: 2rem;
    border-radius: 5%;
  }



  label {
    font-size: 1.1rem;
  }

  input {
    font-size: 0.8rem;
  }

  form .btn-submit {
    font-size: 0.8rem;
  }

}