body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */


.navbar ul {
  list-style-type: none;
  overflow: hidden;
}

/* .navbar li {
  display: inline-block;
} */

.nav-item a {
  text-decoration: none;
  font-weight: normal;
  color: black;
  display: inline-block;
  text-align: center;
}

.nav-item:hover a {
  text-decoration: none;
  color: blueviolet;
}

.nav-item a.active {
  font-weight: bold;
}